vendor/*
.idea/*
.gitignore
.config
composer.lock
node_modules/*


*~

.fuse_hidden*


.directory

.Trash-*

.nfs*


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.history
