/storage/*
/vendor/
/.idea/
/.gitignore
/.settings
/composer.lock
/node_modules/
/public/js/app.js
/public/css/app.css


*~

.fuse_hidden*


.directory

.Trash-*

.nfs*


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.history

