APP_DEBUG = TRUE

APP_NAME  = TT

APP_KEY = 

LOCALE = en

URL  = http://localhost:8000


#DATABASE CONFIGURATION

DB_HOST = localhost
DB_NAME = 
DB_USER = root
DB_PASS = 
DB_CHARSET = utf8
DB_PREFIX =


SESSION_DRIVER = file

#PHPMAILLER

MAIL_HOST = ssl://smtp.gmail.com
MAIL_PORT = 465
MAIL_USER = example@gmail.com
MAIL_PASS = secret
MAIL_SMTP_SECURE = ssl
MAIL_CHARSET = UTF-8
MAIL_HTML = TRUE
MAIL_SHOW_ERROR = 0
